.section-welcome
    @include flex-center-center
    @include section-sizes(column, 80%, 100vh)
/* Media Query */

.section-welcome
    @include tablet
        max-width: 650px

    @include desktop
        max-width: 850px

    @include large
        max-width: 1100px