@import partials/colors
@import partials/mixins
@import partials/fonts
@import partials/button-send
@import partials/hamburguer
@import partials/sidenav
@import partials/section-welcome
@import partials/section-intro
@import partials/section-projects
@import partials/section-contact
@import partials/section-skills

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "Poppins", sans-serif

html,
body
    scroll-behavior: smooth

body
    background-color: $grey-background
    color: $text-color
    height: 100vh

.sections-container
    display: flex
    justify-content: center
    position: absolute
    width: 100%
    border: 2px solid green

#button-top-page
    @include box-shadow
    position: fixed
    bottom: 25px
    right: 25px
    z-index: 1
    font-size: 1.5rem
    color: $white-color
    background-color: $violet-color
    padding: .5rem
    border-radius: 12px
    transition: all .3s ease
    cursor: pointer
    &:hover
        bottom: 30px

.section
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    padding: 1rem
    border: 1px solid red

.sections-container
    @include flex-center-center
    justify-content: flex-end
    flex-direction: column

    // @include tablet
    // @include desktop
    // @include large

.footer
    display: flex
    justify-content: center
    align-items: center
    height: 5rem
    background-color: $red-light-color
